{% extends 'base.html' %}
{% load static %}

{% block title %}Forgot Password | Futsal Booker{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
  <div class="login-box">
    <h1>Reset Password</h1>
    <p class="subtitle">Enter your email to reset your password</p>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" required>
      </div>
      <button type="submit" class="btn">Send Reset Link</button>
            <p class="signup"> <a href="{% url 'login' %}">Login</a></p>

    </form>
  </div>
</div>
{% endblock %}
